

@font-face {
    font-family: 'arialmt.ttf';
    src: url('Шрифты/Arial/Arial-BoldMT.ttf');
  }

@font-face {
    font-family: 'Oswald-Regular.ttf';
    src: url('/dev-Catenegi/Шрифты/Arial/moviefilmstrip.ttf');
}


header .navbar .navbar-nav a.nav-link::before{
    display: none;
}

header .navbar .navbar-nav a.nav-link:hover::before{
   display: block;
   width: 50%;
   
}



header {
  
    
/*   margin: 0 68px 74px 68px;             */
margin-bottom: 74px;

}

 button{
    margin-top: 15px;
    margin-bottom: 15px
}



header a.nav-link {
    
   
line-height: 1.5;
text-transform: uppercase;
color: rgb(0, 0, 0);
padding: 0;
font-family:'Oswald' ;
font-size: 20px;
line-height: 30px;
}

/*
  header .navbar{
    padding-top: 11px;
    padding-bottom: 17px;
}

*/

.nav-item{
    padding: 0 0 0 32px;
}


/*
.navbar-expand-lg .navbar-nav{
    flex-direction: row;
    
}

*/



ul {
    margin-left: auto;
}

a{
    
    position: relative;
}
.navbar-nav a.nav-link::before{
    content: "";
    width: 100%;
height: 2px;

background-color: rgb(0, 0, 0);
position: absolute;
bottom: -8px;
left: 50%;
transform: translate(-50%,0);

}


a.nav-link:hover{
    
    color: rgb(0, 0, 0);
    
}
a.nav-link:active{
    color: rgb(0, 0, 0);
}
a.nav-link:focus{
    color: rgb(0, 0, 0);
}

button.navbar-toggler{
padding: 0;
width: 35px;
height: 25px;

border: none;
border-radius: 0;
}
button.navbar-toggler:focus{
    box-shadow: none;
}

button.navbar-toggler span {
    background-color: #000000;
    height: 2px;
    width: 100%;
    display: block;
    
    
}
h1, h2{
    font-family: 'Oswald'
}

/*                    catalog   */

.catalog{
   margin-bottom: 75px;  
    
  

}
.catalog .container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 110px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 110px;
    
}


.catalog h1.catalog-title {
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 60px;
margin-bottom: 160px;
margin-left: 110px;
}

.catalog-item{
    width: 245px;
    height: 431px;
    background: #F2F2F2;
    margin-bottom: 140px;
    margin-right: 54px;
    
}

.catalog-img img {
    width: 161px;
    height: 172px;
    margin: -77px 42px 42px;

}

.catalog-name{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
max-width: 145px;
margin: 0 50px 22px; 
}
.catalog-desctiption{
    max-width: 166px;
    width: 100%;
    
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}
/*
.catalog-desctiption:nth-child(1){
    border-bottom:  1px solid #CDCDCD;
}
*/
.catalog-desctiption-lin{
    width: 169px;
    margin-bottom: -37px;
    border-bottom:  1px solid #CDCDCD;
}

.catalog-desctiption-item{
    margin: 0 40px 33px 40px;
}

.catalog-desctiption-massa{
    width: 48px;
height: 16px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;

}

.catalog-desctiption-ves{
    
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    
}

.catalog-btnn{
    width: 62px;
    height: 20px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: #68B738;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border: none;
     width: 168px;
    height: 40px;
    
    --bs-btn-hover-bg: #68B738;
    --bs-btn-focus-shadow-rgb: #68B738;
    --bs-btn-active-bg: #68B738;
    }


.btm{
    margin: 33px 0 35px 0;
}


/*                                   table-product                    */


h2.table-additional-products{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin-top: -150px;
    margin-bottom: 81px;
    margin-left: 110px
    
}

table.iksweb{
	width: 100%;
    max-width: 896px;
    min-width: 767px;
	border-collapse:collapse;
	border-spacing:0;
	height: 288px;
    margin-right: 80px;
    
}
table.iksweb,table.iksweb td, table.iksweb th {
	border: none;
    border-bottom: 1px solid #CDCDCD;
}


table.iksweb td,table.iksweb th {
	padding: 3px;
	width: 33%;
	height: 35px;
}
table.iksweb th {
	background: #347c99; 
	color: #fff; 
	font-weight: normal;
}


.buttom{
    width: 62px;
    height: 20px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: #68B738;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border: none;
    width: 244px;
    height: 40px;
    
    --bs-btn-hover-bg: #68B738;
    --bs-btn-focus-shadow-rgb: #68B738;
    --bs-btn-active-bg: #68B738;
}
/*
                .iksweb .buttom{
                    width: 100%;
                      }

*/
.table-product .container{
    display: flex;
    
}

/*
                                     section{
                                 margin: 200px auto;
                                                                           }*/

                                                                        

.table.iksweb td,table.iksweb tr:first-child{
border-top:  1px solid #CDCDCD;
}


td.product-category{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
text-transform: uppercase;
color: #222222;
width: 100%;
}

td.product-category-price{
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

}

.product-category-size{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
   
}



.table-product-gift img{
    width: 245px;
height: 289px;
}











    iframe{
  width: 100%;
    }


    .mape{
        position: relative;
        margin-top: 86px;
    }

    .mape-info{
     background-color: #ffffff;
     max-width: 570px;
     width: 100%;
     padding: 50px 90px 50px 75px;
     display: flex;
     position: absolute;
     left: 110px;
     bottom: 104px;
    }

    .jstcache .gm-style .place-card-large{
        display: none;
    }

    .jstcache{
        display: none;
    }

.title-mape{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 21px;


text-transform: uppercase;
}

.mape span{
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
}



.footer {
    height: 149px;
width: 100%;

background: #F2F2F2;
}




.footer .footer-cat{
    background-image: url(img/footer-logo-footer.svg);
    width: 128px;
height: 24px;
margin: 63px 0 63px 5px;
}

.footer-info{
    background-image: url(img/footer-info.svg);
    height: 33px;
    width: 129px;


}
.footer-html{
    background-image: url(img/HTML-Academy.svg);
    height: 34px;
    width: 163px;
    background-position: center;
    background-repeat: no-repeat; 
    margin-right: -3px;
    margin-bottom: 63px;
    margin-top: 63px;
}

.html-footer{
  display: flex;
  overflow: hidden;
}

.footer-html-logo{
    background-image: url(img/Лого_html-loggo.svg);
    height: 34px;
width: 163px;
display: flex;
align-items: center;
margin: 63px -136px 63px 5px;



background-repeat: no-repeat;
  }


.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


















@media screen and (max-width: 991px) {
    

    .navbar-toggler{
        position: relative;

    }
   
    .navbar-toggler[aria-expanded="true"] span  {
       
         transform: rotate(45deg) translate(8px,7px);
         
         
    }
    .navbar-toggler[aria-expanded="true"] span:nth-child(3) {
        transform: rotate(-45deg) translate(0px,0px);
        opacity: 0;
        top: 45%;
        
   }

   .navbar-toggler[aria-expanded="true"] span:nth-child(2){
    transform: rotate(-45deg) translate(0px,0px);
   }

   .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    display: flex;
    position: relative;

}

   /*header .navbar{
    padding-top: 11px;
    padding-bottom: 17px;}    */


    button.navbar-toggler span {
        background-color: #000000;
        height: 2px;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
       transition: .4s;
        

    }

    button.navbar-toggler span:nth-child(2){
        top: 50%;
        
    }
    button.navbar-toggler span:nth-child(3){
        top: 100%;
         }

    
    header .navbar .navbar-nav a.nav-link{
        color: black; 
    }
    
    header .navbar-nav a.nav-link::before{
        background-color: rgba(255, 0, 0, 0);
    }

    header .navbar {
        padding-top: 0px;
        padding-bottom: 115px;
    }

    header .navbar{
    padding: 11px 8px 18px;
}



.first-screen h1.first-screen_title{
    font-size: 36px;
    margin:  25px auto;
    text-align: center;
    color: white;
}
.first-screen_subtitle{
    text-align: center;
    color: white;
    margin: 25px auto;
}


main .first-screen{
    margin-top: 0;
    padding-top: 27px;
    padding-bottom: 135px;
     margin-bottom: calc(135px + 40px);   
     background: none;
    /* margin-bottom: 213px;*/
}


main .first-screen::before {
    content: "";
    width: 100vw;
    height: 100%;
    background: url(img/index-background-mobile.png) center/cover no-repeat;
   
}
main .first-screen::after{
    content: "";
    background: url(../dev-Catenegi/img/index-cat.png) center/contain no-repeat;
    width: 280px;
    height: 270px;
    display: block;
    top: 250px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}


main .first-screen > .container {
    padding: 0 35px;
    min-height: 305px;
}



.first-screen .btn{
    position: absolute;
    bottom: -190px;
    left: 50%;
    transform: translate(-50%, 0);   
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    padding: 8px 44px;
    text-transform: uppercase;
    width: 280px;
    height: 40px;
    font-weight: 400;
    justify-content: center;   
   
    
}
 
.catalog h1.catalog-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    margin: 27px 0 49px;
}

.catalog-img img {
    height: 112px;
    position: absolute;
    /* margin-left: -90px; */
    right: 190px;
    bottom: -45px;
}

.catalog-desctiption-lin {
    border-bottom: none;
}

.catalog .container {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 110px; */
    /* padding-left: 0; */
    /* padding-right: 0; */
    /* margin-right: 110px; */
    justify-content: center;
}

.catalog-item {
    /* width: 245px; */
    /* height: 431px; */
    background: #ffffff;
    margin-bottom: 116px;
    /* margin-right: 54px; */
    width: 282px;
    height: 112px;
    position: relative;
}

.catalog-name{
    
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin: 0px 40px 18px;
        max-width: 76px;
        text-align: inherit;
        margin-bottom: 18px;
}


.catalog-desctiption {
    max-width: 166px;
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}



.catalog-desctiption-massa{
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
}


.catalog-desctiption-ves{
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
}

.catalog-btnn.btm {
    position: absolute;
    right: 76px;
    width: 280px
}



h2.table-additional-products{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
margin: -70px 75px 50px 20px;
}



section.table-product{
    margin-bottom: 57px;
}



table.iksweb{
    
}

section.table-product .container{
    overflow-x: auto;
}   
section.table-product .container{
    overflow-x: scroll;
    width: 100%;
    
    
}
section.table-product .container::-webkit-scrollbar {
    height:  8px;
    border-radius: 1px;
}
section.table-product .container::-webkit-scrollbar-thumb {
  /*  background-color: var(--primary-color);  */
    background-color: #68B738;
}

section.table-product .container::-webkit-scrollbar-thumb:hover {
    background-color: #68B738;
}

section.table-product .container::-webkit-scrollbar-track{
    background: #ffffff;
    cursor: pointer;
}

.mape {
        margin-top: 0;
        width: 100%;
    }

.mape-info {
        background-color: #F2F2F2;;
        max-width: 570px;
        width: 100%;
        padding: 28px 20px 22px 20px;
        display: flex;
        position: static;
        left: 110p;
        bottom: 104px;
    }









.scroller{
    width: 50px;
    height:50px;
    position: absolute;
    left:100px;
    top:calc(100% + 101px);
    transform:translateY(-50%);
    border-radius:50%;
    background-color: transparent;
    opacity:0.9;
    pointer-events:auto;
    cursor: pointer;
    
  }

  .footer .container{
    display: flex;
    flex-direction: column;
  }

.footer-html{
    margin-right: 140px;
    margin-left: -20px;
}
  

.footer-html-logo{
    margin: 63px -136px 63px 20px;
}


.footer {
    height: 100%;
    width: 100%;
    background: #F2F2F2;
}








    }


