@font-face {
    font-family: 'arialmt.ttf';
    src: url('Шрифты/Arial/Arial-BoldMT.ttf');
  }

@font-face {
    font-family: 'Oswald-Regular.ttf';
    src: url('/dev-Catenegi/Шрифты/Arial/moviefilmstrip.ttf');
}


header .navbar .navbar-nav a.nav-link::before{
    display: none;
}

header .navbar .navbar-nav a.nav-link:hover::before{
   display: block;
   width: 50%;
   
}



header {
  
    
/*   margin: 0 68px 74px 68px;             */
margin-bottom: 74px;

}

 button{
    margin-top: 15px;
    margin-bottom: 15px
}



header a.nav-link {
    
   
line-height: 1.5;
text-transform: uppercase;
color: rgb(0, 0, 0);
padding: 0;
font-family:'Oswald' ;
font-size: 20px;
line-height: 30px;
}

/*
  header .navbar{
    padding-top: 11px;
    padding-bottom: 17px;
}

*/

.nav-item{
    padding: 0 0 0 32px;
}


/*
.navbar-expand-lg .navbar-nav{
    flex-direction: row;
    
}

*/



ul {
    margin-left: auto;
}

a{
    
    position: relative;
}
.navbar-nav a.nav-link::before{
    content: "";
    width: 100%;
height: 2px;

background-color: rgb(0, 0, 0);
position: absolute;
bottom: -8px;
left: 50%;
transform: translate(-50%,0);

}


a.nav-link:hover{
    
    color: rgb(0, 0, 0);
    
}
a.nav-link:active{
    color: rgb(0, 0, 0);
}
a.nav-link:focus{
    color: rgb(0, 0, 0);
}

button.navbar-toggler{
padding: 0;
width: 35px;
height: 25px;

border: none;
border-radius: 0;
}
button.navbar-toggler:focus{
    box-shadow: none;
}

button.navbar-toggler span {
    background-color: #000000;
    height: 2px;
    width: 100%;
    display: block;
    
    
}
h1, h2{
    font-family: 'Oswald'
}



h1.program-selection-title{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 60px;
margin-bottom: 56px;
}


h2.program-selection-form_questionnaire{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-transform: uppercase;
width: 323px;
height: 60px;
margin-bottom: 66px;
}

/*                      form          */


.input-box{
    display: flex ;
    flex-direction: column;
    width: 100%;
  /*          width: calc(100% - 648px);                          */
}



input[type="radio"]:checked + label:before {
    content: '';
    background: url(img/radiobutton-active.svg) center/20px no-repeat;    

   /* background: center/20px no-repeat #68B738;        */
}




 input[type="radio"]+label:before {
    content: '';
    padding: 9px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #CDCDCD;
    border-radius: 50px
}

input[type="checkbox"], input[type="radio"] {
    display: none;
}

.form-row{
    display: flex;
    align-items: flex-start;
    margin-bottom: 69px;
   /* flex-wrap: wrap;              */
}


.radio-box{
    width: 100%;
    max-width: 568px;
    border: 1px solid #E7E7E7;
    padding: 24px 28px;
    margin-left: 80px;
    
}


.radio-box label{
    margin-bottom: 13px;
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-transform: uppercase;
color: #444444;
}





.input-row{
    margin-bottom: 20px;
display: flex;
align-items: center;
width:100% ;
}

.input-row label{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #444444;
    margin-right: 14px;
    white-space: nowrap;
   /* word-break: break-all;   */
}


.input-row input, textarea{
    border: 1px solid #E7E7E7;
    padding: 10px 20px 10px;
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-transform: uppercase;
color: #444444;
width: 100%;
}

.input-row input:focus-visible{
    outline: none;
}


.input-row:last-child{
    margin-bottom: 0;
}

.radio-box > div:last-child label{
  
    margin-bottom: 0;
}


span::before{
    overflow: hidden;
}






.form-row-title {
   /*   width: 100%;      */
   margin-bottom: 76px; 
 

/*  transform: translate(-40px,0);       */
 
}


.show-title{
    margin-bottom: 61px;
}



.form-row-contact span{
    position: relative;
    background: #fff;
   padding: 0 40px;
  /* 
   padding-right: -40px;     
     left: -40px;
     */

     margin-left: -40px;
    
}

.form-row-contact span::before{
content: "";
position: absolute;

top: 30px;
width: 200vw;
left: -100vw;
height: 3px;
background:#68B738;
z-index: -1;

}



/*

.form-row-title .input-row{
  display: inline-block;
}

.form-row-title .input-row input{
    width: auto;
}

*/


.form-row-contact{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 36px;
color: #000000;
margin-bottom: 57px;
}


/*
.input-row{
    margin-left: 80px;
}



.input-row:first-child{
    margin-left: 0px;
    
}

*/


[name="mail"]{
    margin-right: 80px;
}


#mail {
   max-width: calc(100% - 652px);
}
textarea{
    height: 174px;
}






.form-row-title input[type="checkbox"]:checked + label:before {
    content: '';
    background: url(img/tick-checxbox.svg) center/26px no-repeat;    

   /* background: center/20px no-repeat #68B738;        */
}

.form-row-title .input-row input[type="checkbox"]+label:before {
    content: '';
    padding: 9px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #CDCDCD;
    
}



.checkbox-item{
    display: flex;
    justify-content: space-between;
}

.checkbox-item{
   width: 100%;
}


.btn{
    width: 62px;
    height: 20px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: #68B738;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border: none;
    width: 568px;
    height: 52px;
    
    --bs-btn-hover-bg: #68B738;
    --bs-btn-focus-shadow-rgb: #68B738;
    --bs-btn-active-bg: #68B738;
   
}

.btn:hover{
    color: #fff;
}


.btn{
    margin-bottom: 82px;
}






iframe{
    width: 100%;
      }
  
  
      .mape{
          position: relative;
          
      }
  
      .mape-info{
       background-color: #ffffff;
       max-width: 570px;
       width: 100%;
       padding: 50px 90px 50px 75px;
       display: flex;
       position: absolute;
       left: 110px;
       bottom: 104px;
      }
  
      .jstcache .gm-style .place-card-large{
          display: none;
      }
  
      .jstcache{
          display: none;
      }
  
  .title-mape{
      font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  
  
  text-transform: uppercase;
  }
  
  .mape span{
      font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  }
  
  
  
  .footer {
      height: 149px;
  width: 100%;
  
  background: #F2F2F2;
  }
  
  
  
  
  .footer .footer-cat{
      background-image: url(img/footer-logo-footer.svg);
      width: 128px;
  height: 24px;
  margin: 63px 0 63px 5px;
  }
  
  .footer-info{
      background-image: url(img/footer-info.svg);
      height: 33px;
      width: 129px;
  
  
  }
  .footer-html{
      background-image: url(img/HTML-Academy.svg);
      height: 34px;
      width: 163px;
      background-position: center;
      background-repeat: no-repeat; 
      margin-right: -3px;
      margin-bottom: 63px;
      margin-top: 63px;
  }
  
  .html-footer{
    display: flex;
    overflow: hidden;
  }
  
  .footer-html-logo{
      background-image: url(img/Лого_html-loggo.svg);
      height: 34px;
  width: 163px;
  display: flex;
  align-items: center;
  margin: 63px -136px 63px 5px;
  
  
  
  background-repeat: no-repeat;
    }
  
  
  .footer .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  





  @media screen and (max-width: 991px) {
    

    


    .navbar-toggler{
        position: relative;

    }
   
    .navbar-toggler[aria-expanded="true"] span  {
       
         transform: rotate(45deg) translate(8px,7px);
         
         
    }
    .navbar-toggler[aria-expanded="true"] span:nth-child(3) {
        transform: rotate(-45deg) translate(0px,0px);
        opacity: 0;
        top: 45%;
        
   }

   .navbar-toggler[aria-expanded="true"] span:nth-child(2){
    transform: rotate(-45deg) translate(0px,0px);
   }

   .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    display: flex;
    position: relative;

}

   /*header .navbar{
    padding-top: 11px;
    padding-bottom: 17px;}    */


    button.navbar-toggler span {
        background-color: #000000;
        height: 2px;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
       transition: .4s;
        

    }

    button.navbar-toggler span:nth-child(2){
        top: 50%;
        
    }
    button.navbar-toggler span:nth-child(3){
        top: 100%;
         }

    
    header .navbar .navbar-nav a.nav-link{
        color: black; 
    }
    
    header .navbar-nav a.nav-link::before{
        background-color: rgba(255, 0, 0, 0);
    }

    header .navbar {
        padding-top: 0px;
        padding-bottom: 115px;
    }

    header .navbar{
    padding: 11px 8px 18px;
}

header{
border-bottom:  1px solid #D9D9D9;
margin-bottom: 27px;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -10px;
}




h1.program-selection-title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 37px;
}


h2.program-selection-form_questionnaire{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* or 129% */

text-transform: uppercase;
margin-bottom: 39px;
width: 226px;
height: 36px;
}

.form-row{
display: inline;
}



.form-row .input-box{
    margin-bottom: 47px;
}

.program-selection-form .input-row {
    display: flex;
    align-items: baseline;
    width: 100%;
    margin-bottom: 13px
}

.input-row label{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

text-transform: uppercase;
}

.radio-box label{
    
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

text-transform: uppercase;
}

.radio-box{
   
    margin-left: auto;
    border-top: 1px solid #E7E7E7;
    padding: 22px 0px;
    /* margin-left: 80px; */
    border-bottom: 1px solid #E7E7E7;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    margin-bottom: 20px;
}

input[type="radio"]+label:before {
    content: '';
    padding: 9px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #CDCDCD;
    border-radius: 50px;
}

input[type="radio"]:checked + label:before {
    content: '';
    background: url(img/radiobutton-active.svg) center/13px no-repeat;
    /* background: center/20px no-repeat #68B738; */
}


.input-row input, textarea {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.form-row-contact{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
max-width: 196px;
margin-bottom: 32px;
}

.form-row-contact span::before {
    content: "";
    position: absolute;
    top: 21px;
    width: 200vw;
    left: 0;
    height: 2px;
    background: #68B738;
    z-index: -1;
}

#mail {
    max-width: calc(100% - 0px);
    margin-bottom: 14px;
}


.form-row-title .input-row{
    display: block;
    margin-bottom: 27px;
}

.input-row input{
    width: auto;
    
}


.form-row-title{
    margin: 0;
}


h2.contact-row span{
    margin-bottom: 34px;
}

.checkbox-item *{
    margin-bottom: 13px;
}

.checkbox-item:nth-child(4){
    margin-bottom: 32px;
}


    .btn {
        
        width: 370px;
        height: 40px;
        margin: 0 auto 67px;
    }
    





    .mape {
        
        width: 100%;
        height: 512px;
        overflow: hidden;
    }

.mape-info {
        background-color: #F2F2F2;;
        max-width: 570px;
        width: 100%;
        padding: 28px 20px 22px 20px;
        display: flex;
        position: static;
        left: 110p;
        bottom: 104px;
        height: 114px;
    }


.scroller{
    width: 50px;
    height:50px;
    position: absolute;
    left:100px;
    top:calc(100% + 101px);
    transform:translateY(-50%);
    border-radius:50%;
    background-color: transparent;
    opacity:0.9;
    pointer-events:auto;
    cursor: pointer;
    
  }

  .footer .container{
    display: flex;
    flex-direction: column;
  }

.footer-html{
    
    margin: 43px 0 22px 0;
    overflow: hidden;
    margin-right: 140px;
}
  

.footer-html-logo{
    margin: 43px 0 22px 0;
    margin-right: -140px;
    overflow: hidden;
}


.footer {
    max-height: 252px;
    height: 100%;
  
    background: #F2F2F2;
  overflow: hidden;
}


.footer .footer-cat {
    background-image: url(img/footer-logo-footer.svg);
    width: 128px;
    height: 24px;
    margin: 39px 0 59px 0;
}

.html-footer{
    
}



    }