@font-face {
    font-family: 'arialmt.ttf';
    src: url('Шрифты/Arial/arialmt.ttf');
  }

@font-face {
    font-family: 'Oswald-Regular.ttf';
    src: url('/dev-Catenegi/Oswald-Regular.ttf');
}


 /* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500&family=Pacifico&family=Roboto:wght@300;400;500;700&family=Ropa+Sans&display=swap');  */


:root{
    --primary-color: rgb(38, 255, 10);
    --font-family: "arialmt.ttf"; 
    --font-size: 16px;
    
    --font-weight:700;
}

.container-marcup{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  
    height: 100%;
}


.marcup-number{
    max-width: 441px;
    width: 100%;
    height: 500px;

    border: 1px solid rgb(110, 5, 5);
}
  
.number-brand{
    margin-bottom: 7px;
}

.brand-title{
    
    margin-bottom: 15px;
   
}
.brand-color{
    width: 250px;
    height: 125px;
    background: var(--primary-color);
}

/*  var {color}  */

.marcup-number_item::selection{
    line-height: 1.5;
    color: rgb(255, 254, 254);
    background: var(--primary-color);
    
    
}

a:hover {
    text-decoration: none;
  color: rgb(255, 12, 24);
}
.marcup-number_item-font {
    font-weight: 900;
    font-family: var(--font-family);
    background: var(--primary-color);
    font-size: var(--font-size);
}
.marcup-number_item-font-arial{
    font-family: 'arialmt.ttf';
    font-size: 16px;
}
.Font-weight-bold{
    font-weight: var(--font-weight);
}
.Font-weight-light{
    font-weight:300;
}
.Font-weight-normal{
    font-weight: 400;
}
.Font-weight-bold{
    font-weight:var(--font-weight);
}
 
/*       NE работает    ......,....???////  */
input[type="checkbox"]+label[for="checkbox"] {
  background: bisque;
}



label[for="fname"]::before{
content: "";
padding: 9px;
display: inline-block;
vertical-align: middle;
cursor: pointer;

margin-right: 19px;
width: 40px;
height: 40px;
background: url(checked_checkbox-48_44484.png) center no-repeat  ;
/*border: 1px solid rgb(7, 15, 245);
/*border-radius: 50%;
/*                     Для круга 50% добавить  ////    ////       */
}




label[for="html"]::before {
    content: "";
    
    width: 30px;
height: 30px;
    border: 2px solid rgb(42, 14, 255);
    display: inline-block;
vertical-align: middle;
background: url(checked_checkbox-48_44484.png) center/18px no-repeat  ;
margin-right: 19px;
}


/*       NE работает    ......,....???////  */
input [type="radio"] + label [for="css"]::before {
   display: none;
    border-radius: 50%;
    background: url(checked_checkbox-48_44484.png) center no-repeat  ;
    /*background-size: contain;*/
    border: 1px solid transparent;
}