@font-face {
    font-family: 'arialmt.ttf';
    src: url('Шрифты/Arial/arialmt.ttf');
  }

@font-face {
    font-family: 'Oswald-Regular.ttf';
    src: url('/dev-Catenegi/Oswald-Regular.ttf');
}


 /* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500&family=Pacifico&family=Roboto:wght@300;400;500;700&family=Ropa+Sans&display=swap');  */

 .containerw{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

}



:root{
    --primary-color: rgb(26, 223, 0);
    --font-family: "Oswald-Regular.ttf"; 
    --font-size: 16px;
    
    --font-weight:700;
}


.marcup-number {
    list-style: none;
    
    
}
.Font-weight-light{
    font-weight: 300;
}
.Font-weight-normal{
    font-weight: 400;
}
.Font-weight-bold{
    font-weight: 700;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}

.marcup-number{
    max-width: 439px;
    width: 443px;
    
    
    border: 1px solid rgb(255, 3, 3);
}
 
.site-map a{
    color: var(--primary-color);
    
}
.number-brand{
    margin-bottom: 7px;
    
}

.brand-title{
    
    margin-bottom: 15px;
    
   
}
.brand-color{
    width: 250px;
    height: 125px;
    background: var(--primary-color);
}

/*  var {color}  */

.marcup-number_item::selection{
    line-height: 1.5;
    color: rgb(255, 254, 254);
    background: var(--primary-color);
    
    
}


.scroll{
    overflow-y: scroll;
    width: 100%;
    height: 450px;
    
}
.scroll::-webkit-scrollbar {
    width: 9px;
    
}
.scroll::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    
}

.scroll::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}




.Title-item-h1{
    font-size: 60px;
}

a{
    color: brown;
}


a:hover {
    
  color: rgb(255, 0, 0);
  
}
input, label{
    margin: 15px;
    
}
input[type="checkbox"], input[type="radio"] {
    display: none;
}




/*       NE работает    ......,....???////  
input[type="checkbox"]+label[for="checkbox"] {
  background: bisque;*/






input[type="radio"]+label {
    color: #000;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.5;
    
    text-transform: uppercase;
}



input[type="checkbox"]:checked + label:before {
    content: '';
    background: url(img/tick-checxbox.svg) center/20px no-repeat;
}

input[type="radio"]:checked + label:before {
    content: '';
    background: url(img/radiobutton-active.svg) center/21px no-repeat;
}



input[type="checkbox"]+label:before {
    content: '';
    padding: 9px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    margin-bottom: 13px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #CDCDCD;
}




input[type="radio"]+label:before {
    content: '';
    
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    
    border: 1px solid #f2ff00;
}

/*
label[for="fname"]::before{
content: "";
padding: 9px;
display: inline-block;
vertical-align: middle;
cursor: pointer;

margin-right: 19px;
width: 40px;
height: 40px;
background: url(checked_checkbox-48_44484.png) center no-repeat  ;
/*border: 1px solid rgb(7, 15, 245);
/*border-radius: 50%;
/*                     Для круга 50% добавить  ////    ////       */




/*
label[for="html"]::before {
    content: "";
    
    width: 30px;
height: 30px;
    border: 2px solid rgb(42, 14, 255);
    display: inline-block;
vertical-align: middle;
background: url(checked_checkbox-48_44484.png) center/18px no-repeat  ;
margin-right: 19px;
}


/*       NE работает    ......,....???//// 
input [type="radio"] + label [for="css"]::before {
   
    border-radius: 50%;
    background: url(checked_checkbox-48_44484.png) center no-repeat  ;
    /*background-size: contain;
    border: 1px solid transparent;
} */




/*
input[type="checkbox"]:checked + label:before {
    content: '';
    background: url(Next_arrow_1559.png) center/20px no-repeat;
}*/


button{
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    padding: 14px 26px;
background: #68B738;
width: 244px;
height: 54px;
left: 190px;
top: 455px;
font-size: 20px;

color: rgb(255, 255, 255);
border: none;
font-family: var(--font-family);
font-weight: 400;
margin:20px;

}



    .btn{
        width: 192px;
        height: 26px;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        background: #68B738;
        color: white;
        font-size: 19px;
        
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 14px 26px;
       border: none;
        width: 244px;
        height: 54px;
        
        --bs-btn-hover-bg: #68B738;
        --bs-btn-focus-shadow-rgb: #68B738;
        --bs-btn-active-bg: #68B738;
       
    }


button:hover{
    color: white;
    border: 1px solid transparent;
    
}


button:active{
    color: #0bffff;
}
button:focus{
    box-shadow: none;
}

.tttt{
    width: 90px;
    height: 50px;
    display: inline-block;
    padding: 12px 29px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 4px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin:20px;
}
.tt{
    
        width: 192px;
        height: 26px;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        background: #68B738;
        color: white;
        font-size: 19px;
        
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 14px 26px;
       border: none;
        width: 244px;
        height: 54px;
        
        --bs-btn-hover-bg: #68B738;
        --bs-btn-focus-shadow-rgb: #68B738;
        --bs-btn-active-bg: #68B738;
       
    }

