@font-face {
    font-family: 'arialmt.ttf';
    src: url('Шрифты/Arial/arialmt.ttf');
  }

   @import url(''); 


 /* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500&family=Pacifico&family=Roboto:wght@300;400;500;700&family=Ropa+Sans&display=swap');  */


:root{
    --primary-color: rgb(38, 255, 10);
    --font-family: "arialmt.ttf";
    --font-size: 20px;
    
}

.container-marcup{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  
    height: 100%;
}


.marcup-number{
    max-width: 441px;
    width: 100%;
    height: 509px;

    border: 1px solid rgb(110, 5, 5);
}
  
.number-brand{
    margin-bottom: 30px;
}

.brand-title{
    
    margin-bottom: 30px;
   
}
.brand-color{
    width: 250px;
    height: 125px;
    background: darkgreen;
}

/*  var {color}  */

.marcup-number_item::selection{
    line-height: 1.5;
    color: darkorange;
    background: darkslategrey;
    
    
}

a:hover {
    text-decoration: none;
  color: rgb(255, 12, 24);
}
.marcup-number_item-font {
    font-weight: 900;
    font-family: var(--font-family);
    background: var(--primary-color);
    font-size: var(--font-size);
}
.marcup-number_item-font-arial{
    font-family: 'arialmt.ttf';
    font-size: 30px;
}